@use "./abstracts"; 
@use "./base";
@use "./components";
@use "./layout";

body {
  // TODO: Fix Me Please
  // font-size: $paragraph-size;
  font-size: 16px;
  // color: $fontcolor-primary;
  color: #fff;
  // font-family: $roboto;
  font-family: 'Roboto';
  // letter-spacing: ;
  letter-spacing: 1.5px;
  // Line Height
  line-height: 150%;
}
.movieApp {
  display: flex;
  min-height: 100vh;
}
