.MuiImageListItem-root {
  width: 19% !important;
  height: 487px !important;
  padding: 10px !important;
}

.slider-title {
  text-transform: uppercase;
  font-size: 2rem;
  display: block;
  width: 100%;
  padding: 30px 15px 0px;
  margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
  .MuiImageListItem-root {
    width: 190px !important;
    height: 274px !important;
  }
}
