.carousel {
  position: relative;
  overflow: hidden;

  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.carousel__button--next {
      right: 0;
      z-index: 2;
    }
    // .carousel__button--prev {

    // }
  }

  ul {
    display: flex;
    overflow-y: hidden;

    .carousel__image {
      padding-right: 15px;
      cursor: pointer;

      .feature-title {
        text-align: center;
      }

      &:hover {
        img {
          border: 1px solid #fff;
        }
      }
    }
  }
}
