#hero {
  width: 100%;
  padding: 5% 45% 19% 8%;
  background-image: url("https://www.desktopbackground.org/p/2013/04/20/563589_poster-movie-film-movies-posters-free-desktop-backgrounds-and_800x500_h.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
