@use "../abstracts/variables" as *;

.navbarContainer {
  background: blue;
  width: 100vw;
  height: inherit;
  position: absolute;
  top: unset;
  bottom: 0;
  z-index: 99;

  ul {
    background: red;
    text-align: center;
  }

  @media screen and (min-width: $sm-tablet) {
    height: 100vh;
    top: 0;
    left: 0;
    width: 100px;
    transition: $navbar-transition;
    display: flex;
    flex-direction: column;

    /* Animations */
    &:hover {
      background: lightseagreen;
      width: 200px;
    }
  }
}
